@font-face {
			font-family: comcon; /* ֳאנםטעףנא רנטפעא */
			src: local(comcon), url(fonts/comcon.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
			src: url(fonts/comcon.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
			}
body
{
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	overflow: auto;
}

/*index layout*/

#index-header{
	height: 45px;	
	position: fixed;
	left: 20px;
	right: 20px;
}

.index-page
{
	bottom: 3px;
	top: 45px;
	position: fixed;
	overflow:auto;
	left: 20px;
	right: 20px;	
}

#index-content{
	height: auto;
	margin: 5px;
	margin-right: 0;
	padding: 5px;
	border-radius: 5px;
}

#main-page, #info{	
	width: 100%;
}


/*main layout*/

#header{
	height: 250px;
	position: fixed;
	left: 20px;
	right: 20px;
}

.page
{
	bottom: 3px;
	top: 250px;
	position: fixed;
	overflow:auto;
	left: 20px;
	right: 20px;
}


#data{
	position:absolute;
	width: 55%;
	left:0;	
	bottom: 0px;
	top: 0px;
}

#newsline
{	
	width: 40%;
	right: 0px;
	position:absolute;
	bottom: 0px;
	top: 0px;
}

#content{
	height: auto;
	margin: 15px;
	margin-right: 0;
	padding: 15px;
	border-radius: 15px;
	border: 3px solid black;
}

#breadcumbs{
	margin-left: 5px;
	margin-right: 0;
}


#thematic{
	height:200px;
}

.blue{
	background-image: url(svg/blue.svg);
	color:	white;
	background-size: 100% 100%;
}

.menu-container {
	
}


.news{
	border: 1px solid #BCBCBC;
	background-color: #CCCCCC;
	margin: 5px;
	margin-left: 0;
	padding: 5px;
	border-radius: 5px;
}

.news:hover{
	background-color: #DDDDDD;
	cursor: pointer;
	cursor: hand;
}

/*index pag pictures*/

.menu-button{
	padding: 2px;
	color: white;
	backround-size: contain;
}
.menu-button-top{
	margin-top: 10px;
}

.menu-button-bottom{
	margin-bottom: 10px;
}

.menu-button-left{
	margin-left: auto;
}

.menu-button-right{
	margin-right: auto;
}


.menu-button-center{
	margin-left: auto;
	margin-right: auto;
}

.title{
	margin: 0 auto;	
	font-size: 20px;
	font-family: comcon, 'Comic Sans MS', cursive;
	color: black;
	text-align: center;
	
	background-image: url(svg/bubble1.svg);	
	background-repeat: no-repeat;
	padding-top: 20px;
}

#about-cm>.background{
/*	background: transparent url(img/about.png);	*/
	background-image: url(svg/blue.svg);	
}

#about-cm >.background > .btn-picture{
	background-image: url(svg/super.svg);		
}

#ri-block>.background{
	background-image: url(svg/lightblue.svg);	
}

#ri-block>.background>.btn-picture{
	background-image: url(svg/batman.svg);	
}

#future>.background{
	background-image: url(svg/violet.svg);	
}

#future>.background>.btn-picture{
	background-image: url(svg/manhetten.svg);	
}

#razvl-block>.background{
	background-image: url(svg/yellow.svg);	
}

#razvl-block>.background>.btn-picture{
	background-image: url(svg/flash.svg);	
}

#razvl-block>.title{
	padding-top: 10px;
}

#premii>.background{
	background-image: url(svg/orange.svg);	
}

#premii>.background>.btn-picture{
	background-image: url(svg/wolwerine.svg);	
}

#turnirs>.background{
	background-image: url(svg/red.svg);	
}

#turnirs>.background>.btn-picture{
	background-image: url(svg/america.svg);	
}

#take-part>.background{
	background-image: url(svg/green.svg);	
	padding-top: 5%;
}

#take-part>.background>.btn-picture{
	background-image: url(svg/comcon.svg);
}

.background{
	background-repeat: no-repeat;
	padding-top: 5%;
	margin: 0 auto;
}

.background>.btn-picture{
	background-repeat: no-repeat;
	margin: 0 auto;
}


#read-more{
	padding: 24px 34px;
	font-size: 30px;
	font-weight: 200;
	color: color;
	border: 0px none;
	border-radius: 6px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 5px rgba(0, 0, 0, 0.25);
	transition: none 0s ease 0s;
	margin: 0 auto;
	display: block;	
}

.data-block{
	width: 98%;
	height: 400px;
	margin: 5px;
	padding: 5px;
	background-color: #EEE;
	border-color: #CCC;
	border-radius: 5px;	
}

.even{
	float:left;
}

.odd{
	float: right;
}

.even>.info-picture{
	float:left;
	margin-right: 5px;
}

.odd>.info-picture{
	float:right;
	margin-left: 5px;
}

.info-picture{
	width: 310px;
	height: 380px;
}

.info-text{
	padding: 5px;
}